CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y
CONFIG_LIBSODIUM_MINIMAL=y


# CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=y

# CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=y
# CONFIG_PACKAGE_kmod-ipt-offload=y
# CONFIG_PACKAGE_kmod-nf-flow=y

# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y
# CONFIG_PACKAGE_kmod-fast-classifier=y
# CONFIG_PACKAGE_kmod-shortcut-fe=y

# CONFIG_PACKAGE_kmod-zram=y
# CONFIG_PACKAGE_zram-swap=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y

# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set


#CONFIG_PACKAGE_luci-app-netdata=y
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
## CONFIG_PACKAGE_luci-app-easymesh=y
## CONFIG_PACKAGE_luci-app-guest-wifi=y
# CONFIG_PACKAGE_luci-app-ipsec-vpnd is not set
## CONFIG_PACKAGE_luci-app-ntpc=y
## CONFIG_PACKAGE_luci-app-openclash=y
## CONFIG_PACKAGE_luci-app-qos=y
## CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-sqm=y
## CONFIG_PACKAGE_luci-app-dnsfilter=y

# CONFIG_PACKAGE_luci-app-ddns=y
# CONFIG_PACKAGE_luci-app-mwan3=y
# CONFIG_PACKAGE_luci-app-syncdial=y

# CONFIG_PACKAGE_luci-app-passwall is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_PDNSD is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-dawn=y
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-ttyd=n
# CONFIG_PACKAGE_luci-app-unblockmusic=n
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set
# CONFIG_PACKAGE_luci-app-vlmcsd=y
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray is not set
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin is not set
## CONFIG_PACKAGE_luci-app-wifischedule=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set

## CONFIG_PACKAGE_luci-theme-infinityfreedom=y

## lede/include/target.mk
## CONFIG_DEFAULT_coremark=n
CONFIG_PACKAGE_coremark=n

# CONFIG_PACKAGE_ddns-scripts=n
# CONFIG_PACKAGE_ddns-scripts_aliyun=n
# CONFIG_PACKAGE_ddns-scripts_dnspod=n
# CONFIG_PACKAGE_luci-app-ddns=n
# CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=n

CONFIG_PACKAGE_luci-app-easymesh=n
## CONFIG_PACKAGE_luci-app-eqos=n

CONFIG_PACKAGE_miniupnpd=n
CONFIG_PACKAGE_libminiupnpc=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=n

# CONFIG_PACKAGE_vlmcsd=n
# CONFIG_PACKAGE_luci-app-vlmcsd=n

# CONFIG_PACKAGE_etherwake=n
# CONFIG_PACKAGE_wol=n
# CONFIG_PACKAGE_luci-app-wol=n
# CONFIG_PACKAGE_luci-i18n-wol-zh-cn=n

# CONFIG_PACKAGE_luci-app-zerotier=n
# CONFIG_PACKAGE_zerotier=n

# CONFIG_PACKAGE_luci-app-accesscontrol=n
# CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=n

# CONFIG_PACKAGE_luci-app-autoreboot=n
# CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=n

# CONFIG_PACKAGE_luci-app-filetransfer=n
# CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn=n

# CONFIG_PACKAGE_luci-app-ramfree=n
# CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=n

# CONFIG_PACKAGE_luci-app-arpbind=n
# CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=n

CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_logd=n
## https://github.com/coolsnowwolf/lede/blob/master/target/linux/ipq807x/config-5.10
# CONFIG_USB=n
# CONFIG_USB_COMMON=n
# CONFIG_USB_SUPPORT=n
# CONFIG_PACKAGE_kmod-usb3=n
# CONFIG_PACKAGE_kmod-usb-dwc3=n
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n
